# Database Connection
DB_HOST=192.168.100.12
DB_NAME=dev_SASL
DB_USER=user_admin
DB_PASSWORD=1234
DB_PORT=1433

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dinerus3452@gmail.com
SMTP_PASSWORD=adft tmlt rdks ooyk
SMTP_ENABLE_SSL=true

# App
NEXT_PUBLIC_APP_URL=https://tu-dominio.vercel.app